# COGS 108 - Final Project

# Overview

*Fill in your overview here*

# Name & GitHub ID

- Name: Tai Le
- GitHub Username: tnl001

# Research Question

*Fill in your research question here*

## Background and Prior Work

*Fill in your background and prior work here* 

References (include links):
- 1)
- 2)

# Hypothesis

*Fill in your hypotheses here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [1]:
import pandas as pd
import numpy as np

# Data Cleaning

Load in the datasets

In [14]:
crime_2020 = pd.read_csv('pd_calls_for_service_2020_datasd.csv')
crime_2019 = pd.read_csv('pd_calls_for_service_2019_datasd.csv')
call_types = pd.read_csv('pd_cfs_calltypes_datasd.csv')

Here, I'm taking a quick look at what the data looks like

In [4]:
crime_2020.head()

,incident_num,date_time,day_of_week,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,address_sfx_intersecting,call_type,disposition,beat,priority
0,E20010000001,2020-01-01 00:00:09,4,400,NaN,06TH,AVE,NaN,NaN,NaN,11-8,A,523,0
1,E20010000002,2020-01-01 00:00:20,4,5000,NaN,UNIVERSITY,AVE,NaN,NaN,NaN,FD,K,826,2
2,E20010000003,2020-01-01 00:00:21,4,800,NaN,SAWTELLE,AVE,NaN,NaN,NaN,AU1,W,434,1
3,E20010000004,2020-01-01 00:00:32,4,5000,NaN,UNIVERSITY,AVE,NaN,NaN,NaN,FD,K,826,2
4,E20010000005,2020-01-01 00:00:42,4,5200,NaN,CLAIREMONT MESA,BLV,NaN,NaN,NaN,415V,K,111,1

In [13]:
crime_2020[crime_2020['priority'] == 3]

,incident_num,date_time,day_of_week,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,address_sfx_intersecting,call_type,disposition,beat,priority
38,E20010000040,2020-01-01 00:09:16,4,2700,NaN,HEALTH CENTER,DR,NaN,NaN,NaN,459A,K,314,3
61,E20010000063,2020-01-01 00:16:21,4,3500,NaN,SPORTS ARENA,BLV,NaN,NaN,NaN,459A,K,611,3
63,E20010000066,2020-01-01 00:16:50,4,0,NaN,54TH,ST,NaN,UNIVERSITY,NaN,SLEEPER,O,827,3
81,E20010000084,2020-01-01 00:21:53,4,1900,NaN,AVENIDA DE LA CRUZ,NaN,NaN,NaN,NaN,246R,K,712,3
96,E20010000100,2020-01-01 00:28:08,4,3600,NaN,46TH,ST,NaN,NaN,NaN,415N,K,833,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522557,E20120001587,2020-12-01 22:57:45,3,10300,NaN,BLACK MOUNTAIN,RD,NaN,NaN,NaN,SELENF,K,242,3
522559,E20120001593,2020-12-01 23:08:34,3,0,NaN,DWIGHT,ST,NaN,VAN DYKE,NaN,415N,K,834,3
522560,E20120001594,2020-12-01 23:14:09,3,2500,NaN,IMPERIAL,AVE,NaN,NaN,NaN,SELENF,O,512,3
522563,E20120001601,2020-12-01 23:22:17,3,13500,NaN,PACIFIC HIGHLANDS RANCH,PKY,NaN,NaN,NaN,SELENF,K,935,3
522567,E20120001616,2020-12-01 23:48:27,3,100,NaN,06TH,AVE,NaN,NaN,NaN,SELENF,K,521,3

In [15]:
call_types.head()

  call_type               description  Unnamed: 2  Unnamed: 3 Unnamed: 4
0      1016       PRISONER IN CUSTODY         NaN         NaN        NaN
1    1016PT  PTU (PRISONER TRANSPORT)         NaN         NaN        NaN
2    1016QC     SHOPLIFTER/QUICK CITE         NaN         NaN        NaN
3      1021        PHONE YOUR STATION         NaN         NaN        NaN
4     1021H           PHONE YOUR HOME         NaN         NaN        NaN

In [58]:
check = crime_2020.merge(call_types, how='left')
type(check['call_type'][0])

str

In [54]:
for n in call_types['call_type'].values: 
    call_types['call_type'].replace(to_replace='6-Nov', value='11-6', inplace=True)
    call_types['call_type'].replace(to_replace='7-Nov', value='11-7', inplace=True)
    call_types['call_type'].replace(to_replace='8-Nov', value='11-8', inplace=True)

In [70]:
check[check['call_type'].isna()]

,incident_num,date_time,day_of_week,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,address_sfx_intersecting,call_type,disposition,beat,priority,description,Unnamed: 2,Unnamed: 3,Unnamed: 4
2086,E20010002054,2020-01-02 09:43:02,5,4900,NaN,64TH,ST,NaN,NaN,NaN,NaN,W,327,4,NaN,NaN,NaN,NaN
2183,E20010002148,2020-01-02 10:43:31,5,7900,NaN,BALBOA,AVE,NaN,NaN,NaN,NaN,W,313,3,NaN,NaN,NaN,NaN
2448,E20010002405,2020-01-02 13:44:03,5,1400,NaN,BROADWAY,NaN,NaN,NaN,NaN,NaN,W,521,4,NaN,NaN,NaN,NaN
3726,E20010003647,2020-01-03 08:28:25,6,4500,NaN,F,ST,NaN,NaN,NaN,NaN,W,445,4,NaN,NaN,NaN,NaN
3981,E20010003889,2020-01-03 10:46:21,6,4800,NaN,RUFFNER,ST,NaN,NaN,NaN,NaN,W,313,4,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569438,E20110038119,2020-11-24 10:41:49,3,5300,NaN,UNIVERSITY,AVE,NaN,NaN,NaN,NaN,W,826,3,NaN,NaN,NaN,NaN
570872,E20110039507,2020-11-25 08:21:26,4,800,NaN,PARK,BLV,NaN,NaN,NaN,NaN,W,521,3,NaN,NaN,NaN,NaN
571435,E20110040056,2020-11-25 14:51:21,4,1100,NaN,27TH (SB),ST,NaN,NaN,NaN,NaN,W,723,2,NaN,NaN,NaN,NaN
576163,E20110044628,2020-11-28 21:12:10,7,800,NaN,J ST SD # 101,NaN,NaN,NaN,NaN,NaN,W,-1,3,NaN,NaN,NaN,NaN
580365,E20120000972,2020-12-01 14:17:29,3,1400,NaN,BROADWAY,NaN,NaN,NaN,NaN,NaN,W,521,3,NaN,NaN,NaN,NaN

# Data Analysis & Results

Include cells that describe the steps in your data analysis.

In [5]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

*Fill in your ethics & privacy discussion here*

# Conclusion & Discussion

*Fill in your discussion information here*